<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">


    <p:panel id="infoPanel" header="Información Factura"   
             style="margin-bottom:20px">
        <div class="ui-g">
            <div class="ui-g-6">
                <p:outputLabel for="identificacion" value="Identificación   " /><br/>
                <p:inputText id="identificacion"   disabled="#{facturaBean.verFactura}"
                             styleClass="ui-g-12" 
                             value="#{facturaBean.cliente.identificacion}"  >
                    <p:ajax event="blur" listener="#{facturaBean.buscarCliente}" 
                            update="message nombreCliente primerApellido segundoApellido observaciones " process="@this"/>
                </p:inputText>

            </div>

            <div class="ui-g-6">
                <p:outputLabel for="nombreCliente" value="Nombre:   " /><br/>
                <p:inputText id="nombreCliente"    disabled="#{facturaBean.verFactura}"
                             value="#{facturaBean.cliente.nombre}" class="ui-g-12" />

            </div>
            <div class="ui-g-6">
                <p:outputLabel for="primerApellido" value="Primer Apellido   " /><br/>
                <p:inputText id="primerApellido"  disabled="#{facturaBean.verFactura}"
                             value="#{facturaBean.cliente.primerApellido}" class="ui-g-12" /><br/>

                <p:outputLabel for="segundoApellido" value="Segundo Apellido:   " /><br/>
                <p:inputText id="segundoApellido"  disabled="#{facturaBean.verFactura}"
                             value="#{facturaBean.cliente.segundoApellido}" class="ui-g-12" />
            </div>
            <div class="ui-g-6">
                <p:outputLabel for="observaciones" value="Observaciones :   " /><br/>
                <p:inputTextarea id="observaciones"  cols="30" rows="4" disabled="#{facturaBean.verFactura}"
                                 value="#{facturaBean.cliente.observaciones}"  class="ui-g-12"
                                 counter="display" maxlength="500" counterTemplate="{0} caracteres disponibles"/>
                <br/>
                <h:outputText id="display" />
            </div>
            <div class="ui-g-6">
                <p:outputLabel for="camarero" value="Camarero:" /><br/>
                <p:selectOneMenu id="camarero" converter="omnifaces.SelectItemsConverter"  class="ui-g-12"  required="true" disabled="#{facturaBean.verFactura}"
                                 value="#{facturaBean.factura.camarero}" filter="true" >
                    <f:selectItem itemLabel="Seleccione"  itemValue="#{null}"/>
                    <f:selectItems var="cocin" value="#{facturaBean.camareros}" 
                                   itemLabel="#{cocin.nombre}  #{cocin.primerApellido}" itemValue="#{cocin}" />
                    <p:ajax event="change" update="buttonAdd"/>
                </p:selectOneMenu>
            </div>

            <div class="ui-g-6">
                <p:outputLabel for="mesa" value="Mesa:  " /><br/>
                <p:selectOneMenu id="mesa" converter="omnifaces.SelectItemsConverter"  class="ui-g-12"  required="true" disabled="#{facturaBean.verFactura}"
                                 value="#{facturaBean.factura.mesa}" filter="true" >
                    <f:selectItem itemLabel="Seleccione"  itemValue="#{null}"/>
                    <f:selectItems var="mesa" value="#{facturaBean.mesas}" 
                                   itemLabel="#{mesa.numMesa}  #{mesa.ubicacion}" itemValue="#{mesa}" />
                    <p:ajax event="change" update="buttonAdd"/>
                </p:selectOneMenu>
            </div>
        </div>
    </p:panel>

    <p:panel id="platoPanel" header="Agregar productos a la factura" 
             style="margin-bottom:20px">

        <div class="ui-g">
            <p:outputPanel id="panelAregarItem" class="ui-g-8  ui-md-12 ui-lg-8" rendered="#{!facturaBean.verFactura}" >
                <div class="ui-g-3  ui-md-6 ui-lg-3">
                    <p:outputLabel for="plato" value="Plato:   " /><br/>
                    <p:selectOneMenu id="plato" converter="omnifaces.SelectItemsConverter" 
                                     value="#{facturaBean.facturaPlato.plato}" filter="true" >
                        <f:selectItem itemLabel="Seleccione"  itemValue="#{null}"/>
                        <f:selectItems var="plato" value="#{facturaBean.platos}" 
                                       itemLabel="#{plato.nombre}" itemValue="#{plato}" />
                        <p:ajax event="change" update="buttonAdd"/>
                    </p:selectOneMenu>
                </div>
                <div class="ui-g-3 ui-md-6 ui-lg-3">
                    <p:outputLabel for="cocinero" value="Cocinero:   " /><br/>
                    <p:selectOneMenu id="cocinero" converter="omnifaces.SelectItemsConverter" 
                                     value="#{facturaBean.facturaPlato.cocinero}" filter="true" >
                        <f:selectItem itemLabel="Seleccione"  itemValue="#{null}"/>
                        <f:selectItems var="cocin" value="#{facturaBean.cocineros}" 
                                       itemLabel="#{cocin.nombre}  #{cocin.primerApellido}" itemValue="#{cocin}" />
                        <p:ajax event="change" update="buttonAdd"/>
                    </p:selectOneMenu>
                </div>
                <div class="ui-g-3  ui-md-6 ui-lg-3">
                    <p:outputLabel  for="cantidad" value="Cantidad: " /><br/>
                    <p:spinner id="cantidad"
                               value="#{facturaBean.facturaPlato.cantidad}"  min="1" max="400" >
                        <p:keyFilter regEx="/[\d\-]/"/>
                    </p:spinner>
                </div>
            </p:outputPanel>
            <div class="ui-g-1 ui-md-6 ui-lg-3"><br/>
                <p:commandButton  value="Agregar" id="buttonAdd" update="itemTable, panelAregarItem, message, @this, totalFactura"  rendered="#{!facturaBean.verFactura}"
                                  disabled="#{facturaBean.facturaPlato.plato eq null or  facturaBean.facturaPlato.cocinero eq null}"
                                  actionListener="#{facturaBean.agregarPlato()}" style="margin-right:20px;"
                                  styleClass="ui-priority-primary" process="platoPanel"/>
            </div>
            <div class="ui-g-12">
                <p:dataTable  id="itemTable" var="item" value="#{facturaBean.itemsFactura}">

                    <p:column headerText="Plato">
                        <h:outputText value="#{item.plato.nombre}" />
                    </p:column>
                    <p:column headerText="Precio Unitario">
                        <p:inputNumber id="tableValor" readonly="true" symbol="$"  value="#{item.plato.valor}" decimalPlaces="0" 
                                       decimalSeparator=","  thousandSeparator="." />
                    </p:column>
                    <p:column headerText="Cantidad">
                        <p:spinner value="#{item.cantidad}" min="1"  max="400">
                            <p:ajax event="keyup" listener="#{facturaBean.cambiarCantidad(item)}" update="itemTable, form:totalFactura"/>
                            <p:ajax event="change" listener="#{facturaBean.cambiarCantidad(item)}" update="itemTable, form:totalFactura"/>
                            <p:keyFilter regEx="/[\d\-]/"/>  
                        </p:spinner>
                    </p:column>
                    <p:column headerText="Precio Total">
                        <p:inputNumber id="output8" readonly="true" symbol="$"  value="#{item.importe}" decimalPlaces="0"
                                       decimalSeparator=","  thousandSeparator="." />
                    </p:column>
                    <p:column headerText="Cocinero">
                        <p:selectOneMenu id="cocinero" converter="omnifaces.SelectItemsConverter" 
                                         value="#{item.cocinero}" filter="true" >
                            <f:selectItems var="cocin" value="#{facturaBean.cocineros}" 
                                           itemLabel="#{cocin.nombre}  #{cocin.primerApellido}" itemValue="#{cocin}" />
                        </p:selectOneMenu>
                    </p:column>
                </p:dataTable>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-9 ui-md-6 ui-lg-9"></div>
                <div class="ui-g-3">
                    <p:outputLabel for="totalFactura" value="Total de la factura: " />
                    <p:inputNumber id="totalFactura" readonly="true" symbol="$"  value="#{facturaBean.totalFactura}" decimalPlaces="0"
                                   decimalSeparator=","  thousandSeparator="." />
                </div>
            </div>
        </div>
        <p:commandButton  value="Guardar Factura" id="buttonGf"   rendered="#{!facturaBean.verFactura}"
                          actionListener="#{facturaBean.guardarFactra()}"  style="margin-right:20px;"
                          styleClass="ui-priority-primary" process="form" update="message form" />
        <p:commandButton  value="Volver" id="cancelarBtn" 
                          actionListener="#{facturaBean.verListarPanel()}" update="message form" style="margin-right:20px;"
                          styleClass="ui-priority-primary" process="@this"/>
    </p:panel>


</ui:composition>