<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <ui:composition template="/template/layaout.xhtml">
        <ui:define name="content">
            <h:form id="form">
                <p:outputPanel rendered="#{facturaBean.listarFacturas}">
                    <ui:include src="listarFactura.xhtml" />
                </p:outputPanel>
                <p:outputPanel rendered="#{facturaBean.crearFactura or facturaBean.verFactura}">
                    <ui:include src="crearFactura.xhtml" />
                </p:outputPanel>
                <p:outputPanel rendered="#{facturaBean.verPremium}">
                    <ui:include src="clientesPremium.xhtml" />
                </p:outputPanel>
                <p:outputPanel rendered="#{facturaBean.verReporte}">
                    <ui:include src="reporteCamareros.xhtml" />
                </p:outputPanel>
            </h:form>
        </ui:define>
    </ui:composition>
</html>