<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">


    <p:panel id="listaFacturas" header="Lista de Facturas"   
             style="margin-bottom:20px">
        <p:commandButton  value="Agregar Nueva Factura" id="agregarNuevaFactura" 
                          actionListener="#{facturaBean.verAgregarPanel}" update="form" style="margin-right:20px;"
                          styleClass="ui-priority-primary" process="@this" />
        <p:commandButton  value="Ver Clientes Premium" id="clientesPremium" 
                          actionListener="#{facturaBean.verPanelPremium()}" update="form" style="margin-right:20px;"
                          styleClass="ui-priority-primary" process="@this" />
        <p:commandButton  value="Reporte de Camareros" id="camarerosBtn" 
                          actionListener="#{facturaBean.verCamarerosReprote()}" update="form" style="margin-right:20px;"
                          styleClass="ui-priority-primary" process="@this" />
        <br/><br/><br/>
        <p:dataTable  id="facturasHechas" var="factura" value="#{facturaBean.facturas}"  paginator="true" rows="10">
            
            <p:column headerText="Identificacion" sortBy="#{factura.cliente.identificacion}" filterBy="#{factura.cliente.identificacion}">
                <h:outputText value="#{factura.cliente.identificacion}" />
            </p:column>
            <p:column headerText="Cliente">
                <h:outputText value="#{factura.cliente.nombre} #{factura.cliente.primerApellido}" />
            </p:column>
            <p:column headerText="Total ">
                <p:inputNumber  readonly="true" symbol="$"  value="#{factura.total}" decimalPlaces="0" converter="omnifaces.SelectItemsConverter" 
                               decimalSeparator=","  thousandSeparator="." />
            </p:column>
            <p:column headerText="Fecha" sortBy="#{factura.fechaFactura}" >
                <h:outputText value="#{factura.fechaFactura}" />
            </p:column>
            <p:column headerText="Acciones" >
                <p:commandButton value="Ver" actionListener="#{facturaBean.verFacturaPanel(factura)}" update="form" />
            </p:column>
        </p:dataTable>
    </p:panel>


</ui:composition>