<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:of="http://omnifaces.org/functions">


    <p:panel id="camarerosPanel" header="Clientes Premium"   
             style="margin-bottom:20px">


        <p:outputLabel  for="cantidad" value="Cantidad: " /><br/>
        <p:inputMask id="ssn" value="#{facturaBean.fechaReporte}" mask="9999-99"/>
        <p:commandButton  value="buscar" id="serach" update="camarerosTable" 
                          actionListener="#{facturaBean.generaReporte()}" style="margin-right:20px;"
                          styleClass="ui-priority-primary" process="camarerosPanel"/>

        <br/><br/><br/>

        <p:dataTable  id="camarerosTable" var="cliente" value="#{facturaBean.camarerosReporte}"  paginator="true" rows="10">

            <p:column headerText="Identificacion" sortBy="#{cliente.identificacion}" filterBy="#cliente.identificacion}">
                <h:outputText value="#{cliente.identificacion}" />
            </p:column>
            <p:column headerText="Cliente">
                <h:outputText value="#{cliente.nombre}" />
            </p:column>
            <p:column headerText="Total Compras ">
                <p:inputNumber  readonly="true" symbol="$"  value="#{cliente.totalCompras}" decimalPlaces="0" converter="omnifaces.SelectItemsConverter" 
                                decimalSeparator=","  thousandSeparator="." />
            </p:column>
            <p:column headerText="Número de Facturas" sortBy="#{cliente.numFacturas}" >
                <h:outputText value="#{cliente.numFacturas}" />
            </p:column>               
        </p:dataTable>
        <p:commandButton  value="Volver" 
                          actionListener="#{facturaBean.verListarPanel()}" update="message form" style="margin-right:20px;"
                          styleClass="ui-priority-primary" process="@this"/>
    </p:panel>


</ui:composition>