<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:dataTable var="usuario" value="#{usuarioBean.usuarios}">
		<p:column headerText="Id">
			<h:outputText value="#{usuario.id}" />
		</p:column>
	</p:dataTable>
</ui:composition>