<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/template/layaout.xhtml">
	<ui:define name="content">
		<h:form id="form">

			<p:tabView>
				<p:tab title="Godfather Part I">
					<ui:include src="listarUsuarios.xhtml" />
				</p:tab>
				<p:tab title="Godfather Part II">
					<h:panelGrid columns="2" cellpadding="10">
						<p:graphicImage name="demo/images/godfather/godfather2.jpg" />
						<h:outputText
							value="Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. 
                In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, 
                killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows." />
					</h:panelGrid>
				</p:tab>
				<p:tab title="Godfather Part III">
					<h:panelGrid columns="2" cellpadding="10">
						<p:graphicImage name="demo/images/godfather/godfather3.jpg" />
						<h:outputText
							value="After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. 
                    Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate." />
					</h:panelGrid>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>
</html>